{% extends "layout.html" %}
{% block body %}

<script type="text/javascript"><!--
var data = {{ dumps(data)|safe }}; //--></script>

<h2>
  <a href="{{ url_for('lists') }}">{{ data['category'] }} / </a>{{ data['title'] }}
  <a class="pure-button" href="{{ url_for('view', lessonId=data['id']) }}">View</a>
</h2>

<div class="quizz">
  <form class="pure-form quizz-form" onsubmit="return next();">
    <h3 id="keyword">{{ data['data'][0].pop(0)}} ?</h3>
    <fieldset class="pure-group"> {% for i in range(5) %}
      <input type="text" class="learn-input" placeholder="{{ data['header'][1] }}" id="box{{ i }}">{% endfor %}
    </fieldset>
    <div class="pure-button-group learn-buttons-container">
      <button class="pure-button learn-button pass-button">Pass</button>
      <button type="submit" class="pure-button learn-button next-button" id="next-button">Next</button>
    </div>
  </form>
  <div id="last-container">
    <h3>Last words</h3>
    <h4 id="last-keyword">test</h4>{% for i in range(5) %}
    <h5 id="last{{ i }}">test</h5>{% endfor %}
  </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='learn.js')}}"></script>

{% endblock %}
