{% extends "layout.html" %}
{% block body %}

<h2>
  <a href="{{ url_for('lists') }}">{{ data['category'] }} / </a>{{ data['title'] }}
  <a class="pure-button pure-button-primary" href="{{ url_for('learn', lessonId=data['id']) }}">Try it</a>
</h2>


<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      {% for exp in data['header'] %}
      <th>{{ exp }}</th>
      {% endfor %}
    </tr>

  </thead>
  <tbody>
    {% for words in data['data'] %}

    <tr>
      <td>{{ words.pop(0) }}</td>
      <td>
        <table>
          {% for word in words %}
          <td>{{ word }}</td>
          {% endfor %}
        </table>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
<h2>Learned? So, <a class="pure-button pure-button-primary" href="{{ url_for('learn', lessonId=data['id']) }}">Try it</a></h2>

{% endblock %}
