{% extends "layout.html" %}
{% block body %}

<div class="pure-g">

    {% for category,l in list %}

    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

        <h2 id="{{ category }}">{{ category }}</h2>

        <ul>

            {% for list_name in l %}

            <li>
                <a href="{{ url_for('view', dir=category, file=list_name) }}">{{ list_name.replace("_", " ") }}</a>
                <small><a href="{{ url_for('learn', dir=category, file=list_name) }}">Direct test!</a></small>
            </li>

            {% endfor %}

        </ul>

    </div>

    {% endfor %}
    
</div>

{% endblock %}
