{% extends "layout.html" %}
{% block body %}

<div class="pure-g">

    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

        {% for key, value in dic.items() %}

        <h3>{{ key }}</h3>

        <ul>
            {% for list_name in value %}

            <li><a href="#">{{ list_name }}</a></li>

            {% endfor %}
        </ul>

        {% endfor %}

    </div>

    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3>Lorem ipsum Dolore nostrud aliqua tempor</h3>
        <ul>
            <li><a href="#">orem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
            <li><a href="#">Ut id felis ac enim dapibus varius</a></li>
            <li><a href="#">Sed arcu purus, ullamcorper quis commodo sit amet, varius sed sem</a></li>
            <li><a href="#">Nulla quis orci blandit sapien elementum egestas id eget magna</a></li>
            <li><a href="#">Sed eu consequat magna, vel hendrerit lectus</a></li>
            <li><a href="#">Nam aliquam finibus posuere</a></li>
            <li><a href="#">Vestibulum eleifend urna vitae ullamcorper consectetur</a></li>
            <li><a href="#">Suspendisse ultrices ut orci in imperdiet</a></li>
            <li><a href="#">Donec eget congue mauris</a></li>
            <li><a href="#">Nulla semper velit at dapibus convallis</a></li>
            <li><a href="#">Ut sit amet semper massa</a></li>
            <li><a href="#">In feugiat diam a orci viverra venenatis</a></li>
            <li><a href="#">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</a></li>
            <li><a href="#">Nam a congue tortor</a></li>
            <li><a href="#">Morbi eget neque et mi aliquet tempor sed consectetur neque</a></li>
        </ul>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3>Lorem ipsum Dolore nostrud aliqua tempor</h3>
        <ul>
            <li><a href="#">am finibus a magna vel vestibulum</a></li>
            <li><a href="#">Morbi pretium tempus facilisis</a></li>
            <li><a href="#">Morbi ligula massa, semper et mi et, condimentum interdum urna</a></li>
            <li><a href="#">Nunc urna felis, tincidunt sed ultrices nec, hendrerit at lorem</a></li>
            <li><a href="#">Maecenas varius neque ultricies nulla pharetra pharetra</a></li>
            <li><a href="#">Curabitur vestibulum sed ligula scelerisque dapibus</a></li>
            <li><a href="#">Aliquam erat volutpat</a></li>
        </ul>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3>Lorem ipsum Dolore nostrud aliqua tempor</h3>
        <ul>
            <li><a href="#">ulla facilisi</a></li>
            <li><a href="#">Duis volutpat faucibus massa sed accumsan</a></li>
            <li><a href="#">Pellentesque ut augue ex</a></li>
            <li><a href="#">Curabitur congue nulla neque, nec tincidunt arcu accumsan quis</a></li>
            <li><a href="#">Aenean lobortis eu diam sed sagittis</a></li>
            <li><a href="#">Aenean sit amet magna nisl</a></li>
            <li><a href="#">Aenean sit amet risus sodales, viverra tellus quis, tristique mi</a></li>
            <li><a href="#">Donec et est elementum, aliquam quam vel, ultricies lorem</a></li>
            <li><a href="#">Fusce ipsum augue, egestas at faucibus eget, blandit eu quam</a></li>
            <li><a href="#">Aenean nec consequat lorem, vitae placerat felis</a></li>
            <li><a href="#">Proin enim elit, pellentesque malesuada nisl condimentum, accumsan dignissim metus</a></li>
            <li><a href="#">Pellentesque eget mollis urna</a></li>
            <li><a href="#">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce vel tellus porttitor, elementum velit vitae, varius magna</a></li>
            <li><a href="#">Curabitur laoreet eget ipsum a tincidunt</a></li>
            <li><a href="#">Sed sit amet pellentesque nulla</a></li>
        </ul>
    </div>
</div>

{% endblock %}
